body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: aquamarine;
  }

img {
    max-width: 400px;
    margin-top: 20px;
    border-radius: 8px;
  }

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: pink
  }